* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* tamanho de fontes */
  font-size: 62.5%;

  /* tipografia */
  --ff-card-mobile: 'Staatliches', arial;
  --ff-text-mobile: 'Palanquin', sans-serif;
  --ff-card-desktop: 'Open Sans', sans-serif;
  --ff-text-desktop: 'Roboto', sans-serif;

  /* color  */
  --cl-h1: #FFFFFF;
  --cl-bg-h1: #CBC0D3;
  --cl-bg-heading: #8E9AAF;
  --cl-bg-boddy: #EFF1FF;
  --cl-bg-card: #FEEAFA;
  --cl-text: #23053A;
  --cl-text-card: #4A4E69;
  --cl-intro-desktop: #FFFFFF;
}

.page {
  /* max-width: 384px; */
  background-color: var(--cl-bg-boddy);
}

header {
  background-color: var(--cl-bg-heading);
  /* max-width: 38.4rem; */
  /* height: 28rem; */
}

img {
  max-width: 100%;
  display: block;
}

.card img {
  animation: downtop 700ms backwards;
}

header img {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  margin: 0 auto;
}

header h1 {
  font-family: var(--ff-card-mobile);
  font-style: normal;
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 3.4rem;

  text-align: center;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.6rem;

  color: #FFFFFF;
  background-color: var(--cl-bg-h1);
}

main {
  padding: 3.2rem;
  display: grid;
  gap: 3.6rem;
}

.text-mobile {
  font-family: var(--ff-text-mobile);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;

  /* text-align: center; */
  margin-bottom: 5.9rem;

  color: var(--cl-text);

  max-width: 40ch;
  margin: 0 auto;
  padding: 2rem;

}

.card {
  position: relative;
  margin: 0 auto;
  display: grid;
}

.card h2 {
  position: absolute;

  font-family: var(--ff-card-mobile);
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  top: 1.6rem;
  right: 1.6rem;

  width: fit-content;
  padding: 0 2.4rem;
  border-radius: 2.0rem;

  color: var(--cl-text-card);
  background-color: #FEEAFA;

}

.cards {
  display: grid;
  gap: 3.2rem;
}

.card img {
  animation: topdown 700ms;
}

.card h2 {
  animation: downtop 700ms 350ms backwards;
}

.intro-desktop {
  display: none;
}

@media (min-width: 900px) {
  body {
    background-color: var(--cl-bg-boddy);
  }

  .page {
    display: flex;
    /* max-width: 128rem;
    max-height: 72rem; */
  }

  header {
    max-width: 37.7rem;
    height: 100vh;
    position: fixed;
    flex-direction: column;
  }

  .text-mobile {
    display: none;
  }

  .cards {
    margin-left: 37.7rem;
    gap: 3.2rem;
    grid-template-areas:
      'A B'
      'C B'
      'C D'
      'E F';
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }

  .cards .card:nth-child(2) {
    grid-area: B;
  }

  .cards .card:nth-child(3) {
    grid-area: D;
  }

  .cards .card:nth-child(4) {
    grid-area: C;
  }

  .cards .card:nth-child(5) {
    grid-area: E;
  }

  .cards .card:nth-child(6) {
    grid-area: F;
  }

  .intro-desktop {
    display: block;
    color: var(--cl-intro-desktop);
    font-family: var(--ff-text-desktop);
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.5;

    /* width: 27.5rem;   */
    text-align: center;
  }
}

@media (min-width: 1280px) {
  body {
    background-color: var(--cl-bg-boddy);
  }


  .intro-desktop {
    padding: 3rem;
    margin-top: 3.2rem;
  }

  .cards {
    gap: 3.2rem;
    grid-template-areas:
      'A B C'
      'D B E'
      'D F E';
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }

  .cards .card:nth-child(2) {
    grid-area: B;
  }

  .cards .card:nth-child(3) {
    grid-area: C;
  }

  .cards .card:nth-child(4) {
    grid-area: D;
  }

  .cards .card:nth-child(5) {
    grid-area: F;
  }

  .cards .card:nth-child(6) {
    grid-area: E;
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}